{% load static %}
<html>
    <head>
        <title>Change password</title>

        {% include 'general_use/general-script.html' %}

        <script src="{% static 'js/change_password.js' %}"></script>
        <link rel='stylesheet' href="{% static 'css/login-register.css' %}">
    </head>
    <body class="change_password">
        {% include 'general_use/header.html' %}
        <div class="BG">
            <div class="gradient-bg"></div>
            <div class="gradient-bg item2"></div>
        </div>
        <div class = "box" >
            <form id="change-password-form" action = "{% url 'change_password' %}" method="post">
                {%csrf_token %} 
                <div class = "change-password-container">
                    <h2 class="head">เปลี่ยนรหัสผ่าน</h2>
                    <div>
                        <label for="register-password">รหัสผ่านใหม่</label>
                        <input class="input-field password" id = "change-password" name = "password" type = "password" placeholder="รหัสผ่านใหม่" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="15" >
                        <i class="bx bx-hide eye-icon " id="eye-pass1"></i>
                        <div class="error-message"></div>
                    </div>
                    <div id="password-strength-status"></div>
                    <div>
                        <ul class="pswd_info" id="passwordCriterion">
                            <li data-criterion="length" class="invalid">8-15 <strong>Characters</strong></li>
                            <li data-criterion="capital" class="invalid">At least <strong>one capital letter</strong></li>
                            <li data-criterion="small" class="invalid">At least <strong>one small letter</strong></li>
                            <li data-criterion="number" class="invalid">At least <strong>one number</strong></li>
                            <li data-criterion="special" class="invalid">At least <strong>one Specail Characters </strong></li>
                        </ul>
                    </div>
                    <div>
                        <label for="password_confirm">ยืนยันรหัสผ่าน</label>
                        <input class="input-field" id = "password_confirm" name = "password_confirm" type = "password" placeholder="ยืนยันรหัสผ่าน" >
                        <i class="bx bx-hide eye-icon" id="eye-pass2"></i>
                        <!-- <p id='message'></p> -->
                        <div class="error-message"></div>
                    </div>
                    <input class='submit' id = "register-button" type="submit" value="ยันยืน">
                    <!-- <button class="submit" id = "register-button" type="submit">ยันยืน</button> -->
                </div>
            </form>
        </div>
    </body>
</html>

    