{% load static %}
<html>

    <head>
        <title>Change password</title>

        {% include 'general_use/general_script.html' %}

        <link rel="stylesheet" href="{% static 'css/login_register.css' %}" />
    </head>

    <body class="change_password">
        {% include 'general_use/header.html' %}
        <div class="BG">
            <div class="gradient_bg"></div>
            <div class="gradient_bg item2"></div>
        </div>
        <div class="box">
            <form id="change_password_form" action="{% url 'change_password' %}" method="post">
                {%csrf_token %}
                <div class="change_password_container">
                    <h2 class="head">เปลี่ยนรหัสผ่าน</h2>
                    <div>
                        <label for="register_password">รหัสผ่านใหม่</label>
                        <input class="input_field password" id="change_password" name="password" type="password"
                            placeholder="รหัสผ่านใหม่" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="15" />
                        <i class="bx bx-hide eye_icon" id="eye_pass1"></i>
                        <div class="error_message"></div>
                    </div>
                    <div id="password_strength_status"></div>
                    <div>
                        <ul class="pswd_info" id="password_criterion">
                            <li data_criterion="length" class="invalid">
                                8-15 <strong>Characters</strong>
                            </li>
                            <li data_criterion="capital" class="invalid">
                                At least <strong>one capital letter</strong>
                            </li>
                            <li data_criterion="small" class="invalid">
                                At least <strong>one small letter</strong>
                            </li>
                            <li data_criterion="number" class="invalid">
                                At least <strong>one number</strong>
                            </li>
                            <li data_criterion="special" class="invalid">
                                At least <strong>one Specail Characters </strong>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <label for="password_confirm">ยืนยันรหัสผ่าน</label>
                        <input class="input_field" id="password_confirm" name="password_confirm" type="password"
                            placeholder="ยืนยันรหัสผ่าน" />
                        <i class="bx bx-hide eye_icon" id="eye_pass2"></i>
                        <div class="error_message"></div>
                    </div>
                    <input class="submit" id="register_button" type="submit" value="ยันยืน" />
                </div>
            </form>
        </div>
    </body>
    <script src="{% static 'js/change_password.js' %}"></script>

</html>