{% load static %}
<html>
    <head>
        <title>Register</title>

        {% include 'general_use/general-script.html' %}

        <script src="{% static 'js/em-login-register.js' %}"></script>
        <link rel='stylesheet' href="{% static 'css/login-register.css' %}">
    </head>
    <body>
        {% include 'general_use/em_header.html' %}
        <div class="BG">
            <div class="gradient-bg"></div>
            <div class="gradient-bg item2"></div>
        </div>
        <div class = "box" >
            <form id="register-form">
                {%csrf_token %} 
                <div class = "register-container">
                    <h2 class="head">สมัครสมาชิก พนักงาน</h2>
                    <div>
                        <label for="user_name">ชื่อผู้ใช้</label>
                        <input class="input-field" id = "user_name" name = "username" type = "text" placeholder="ชื่อผู้ใช้"  maxlength="50" >
                        <div class="error-message"></div>
                    </div>
                    <div>
                        <label for="register-password">รหัสผ่าน</label>
                        <input class="input-field password" id = "register-password" name = "password1" type = "password" placeholder="รหัสผ่าน" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="15" >
                        <i class="bx bx-hide eye-icon password-validation"></i>
                        <div class="error-message"></div>
                    </div>
                    <div id="password-strength-status"></div>
                    <div>
                        <ul class="pswd_info" id="passwordCriterion">
                            <li data-criterion="length" class="invalid">8-15 <strong>Characters</strong></li>
                            <li data-criterion="capital" class="invalid">At least <strong>one capital letter</strong></li>
                            <li data-criterion="small" class="invalid">At least <strong>one small letter</strong></li>
                            <li data-criterion="number" class="invalid">At least <strong>one number</strong></li>
                            <li data-criterion="special" class="invalid">At least <strong>one Specail Characters </strong></li>
                        </ul>
                    </div>
                    <div>
                        <label for="password_confirm">ยืนยันรหัสผ่าน</label>
                        <input class="input-field password-confirmation" id = "password_confirm" name = "password2" type = "password" placeholder="ยืนยันรหัสผ่าน" >
                        <!-- <p id='message'></p> -->
                        <i class="bx bx-hide eye-icon password-confirmation-icon"></i>
                        <div class="error-message"></div>
                    </div>
                    <input class='submit' id = "register-button" type="submit" value="ยันยืน">
                    <!-- <button class="submit" id = "register-button" type="submit">ยันยืน</button> -->
                </div>
            </form>
        </div>
    </body>
</html>

    