{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Room Status</title>
        {% include 'general_use/general-script.html' %}

        <script src="{% static 'js/status.js' %}"></script>
        <link rel='stylesheet' href="{% static 'css/em_room_status.css' %}">
        
    </head>
    <body>
        {% include 'general_use/em_header.html' %}
        <div class="BG">
            <div class="gradient-bg"></div>
            <div class="gradient-bg item2"></div>
        </div>
        <div class="content">
            <table class="table_main" id = "table_main">
                <thead>
                    <tr class = "d-flex">
                        <th scope="row" >เลขห้อง</th>
                        <th scope="row">วันที่เข้า</th>
                        <th scope="row">วันที่ออก</th>
                        <th scope="row">ราคา</th>
                        <th scope="row">ลูกค้า</th>
                        <th scope="row">สถานะ</th>
                    </tr>
                    <!-- Hidden Table Row (tr) for Copy to Fill Data -->
                    <tr class = "d-flex hide" hidden>
                        <td class ="room_number" scope="row"></td>
                        <td class ="check_in" scope="row"></td>
                        <td class ="check_out" scope="row"></td>
                        <td class ="price" scope="row"></td>
                        <td class ="customer" scope="row"></td>
                        <td class ="status" scope="row"></td> 
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td>1/501</td>
                        <td>10/11/23 - 11/11/23</td>
                        <td>1,700.00</td>
                        <td>Kenan</td>
                        <td class="waiting">ยังไม่ได้โอนเงิน</td>
                    </tr>
                    <tr>
                        <td>1/502</td>
                        <td>10/11/23 - 11/11/23</td>
                        <td>1,700.00</td>
                        <td>Kenan</td>
                        <td class="waiting">ยังไม่ได้โอนเงิน</td>
                    </tr>
                    <tr>
                        <td>1/503</td>
                        <td>10/11/23 - 11/11/23</td>
                        <td>1,700.00</td>
                        <td>Kenan</td>
                        <td class="waiting">ยังไม่ได้โอนเงิน</td>
                    </tr>
                    <tr>
                        <td>1/504</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1/505</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> -->
                    <!-- Data will append by JQuery -->
                </tbody>
            </table>
        </div>
    </body>
</html>