{% load static %}
<html>
    <head>
        <title>Home</title>

        {% include 'general_use/general-script.html' %}

        <script src="{% static 'js/homepage.js' %}"></script>
        <link rel='stylesheet' href="{% static 'css/homepage.css' %}">
    </head>
    <body class = "homepage">
        {% include 'general_use/header.html' %}
        <div class="content-container BG">
            <div class="gradient-bg"></div>
            <div class="gradient-bg item2"></div>
            <h2 class = "header-hotelpage" id="head">ค้นหาห้องพัก</h2>
            <div class = "box" id = "hotelpage">
                <form  id="homepage-form" action = "" method="post">
                    {%csrf_token %} 
                    <div class = "hotelpage-container" id = "hotelpage-container">

                        <div class="text-flexline">
                            <label class = "checkin" for = "textCheckin">เช็คอิน 
                                <input class = "check" id = "textCheckinDate" name = "checkin" type = "date" placeholder="กรุณาเช็คอิน" required>
                            </label>
                            <label class = "checkout" for = "texCheckout">เช็คเอาท์ 
                                <input class = "check" id = "textCheckoutDate" name = "checkout" type = "date" placeholder="กรุณาเช็คเอาท์" required>
                            </label>
                        </div>

                        <div class = "dropdown">
                            <label class = "guest">ผู้เข้าพัก
                                <div class="guest">
                                    <p class="text-inline">มีผู้ใหญ่เข้าพักจำนวน</p>
                                    <button class = "decrement" id = "decrement adult" onclick="stepper(this)" type="button"> - </button>
                                    <input class="guest" id="my-input-adult" name="adult" type = "number" min="1" max = "100" step="1" value="1" readonly required>
                                    <button class = "increment" id = "increment adult" onclick="stepper(this)" type="button"> + </button>


                                    <p class="text-inline">และ</p><p class="text-inline">มีเด็กเข้าพักจำนวน</p>
                                    <button class = "decrement" id = "decrement child" onclick="stepper(this)" type="button"> - </button>
                                    <input class="guest" id = "my-input-child" name="child" type = "number" min="0" max = "100" step="1" value="0" readonly>
                                    <button class = "increment" id = "increment child" onclick="stepper(this)" type="button"> + </button>

                                </div>
                                <!--<input class = "guest" id = "guests" name = "guests" type = "text" placeholder="กรุณาเลือกห้อง" required>-->
                            </label>
                            
                            <!--<div class = "down-menu">
                                <div class = "container">
                                    <label>ผู้ใหญ่
                                        <button class = "decrement" id = "decrement adult" onclick="stepper(this)" type="button"> - </button>
                                        <input id = "my-input-adult" type = "number" min="1" max = "100" step="1" value="1" readonly>
                                        <button class = "increment" id = "increment adult" onclick="stepper(this)" type="button"> + </button>
                                    </label>
                                </div>

                                <div class = "container">
                                    <label>เด็ก
                                        <button class = "decrement" id = "decrement child" onclick="stepper(this)" type="button"> - </button>
                                        <input id = "my-input-child" type = "number" min="0" max = "100" step="1" value="1" readonly>
                                        <button class = "increment" id = "increment child" onclick="stepper(this)" type="button"> + </button>
                                    </label>
                                </div>

                            </div>
                        </div>-->     

                        <input class="search_room" id="search_room" type="button" value="ค้นหา">
                    </div>
                </form>
            </div>
        </div>
        {% include 'general_use/footer.html' %} 
    </body>
</html>s