{% extends 'login_base.html'%}
{% block title %}Login{% endblock %}
{% block contend %}
    <div class = "login-body" id = "login-body">
        <form class='login' action = "">
            <div id="login-container" class = "login-container">
                <h2 id="head">เข้าสู่ระบบ</h2>
                <label class='login' for = "email">อีเมล/ชื่อผู้ใช้/id: <input id = "login-user" class='login' name = "email" type = "text" placeholder="กรุณาใส่ อีเมล/ชื่อผู้ใช้/id" required></label>
                <label class='login' for = "password">รหัสผ่าน: <input id = "login-password" class='login' name = "password" type = "password" placeholder="กรุณาใส่รหัสผ่าน" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required></label>
                <input id = "login-button" class='login' type="submit" value="ยันยืน">
            </div>
        </form>
    </div>
{% endblock %}