{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Reserve</title>
    {% include 'general_use/general-script.html' %}

    <!-- <script src="{% static 'js/em_reserve.js' %}"></script> -->
    <link rel='stylesheet' href="{% static 'css/my_reserve.css' %}">
</head>
<body>
    {% include 'general_use/header.html' %}
    <div class="BG">
        <div class="gradient-bg"></div>
        <div class="gradient-bg item2"></div>
    </div>
    {% if my_reserve_info %}
    <div class="content">
        <h1>การจองของฉัน</h1>
        <div class="head">
            <span>รหัสการจอง</span>
            <span>จำนวนห้อง</span>
            <span>วันที่เข้า</span>
            <span>วันที่ออก</span>
            <span>ราคา</span>
            <span>สถานะ</span>
        </div>
    
        {% for item in my_reserve_info %}
            <div class="status-box">
                <span id="reservation_id">{{ item.reservation_id }}</span>
                <span id="room_count">{{ item.room_count }}</span>
                <span id="checkin">{{ item.reservation_id__check_in }}</span>
                <span id="checkout">{{ item.reservation_id__check_out }}</span>
                <span id="total_price">{{ item.reservation_id__total_price }}</span>
                <span id="status">{{ item.reservation_id__status }}</span>
            </div>
        {% endfor %}
    {% else %}
        <h1 class = 'no_curreserve'>คุณไม่มีการจอง ณ ขณะนี้</h1>
    {% endif %}
    </div>

    <div class = "sum_price">
        <p class="text-sum">รวม</p>
        <p class="text-price">
            {% if sum_total_price %}
            {{ sum_total_price }}
            {% else %}
            0.00
            {% endif %}
            <button class="text-detail reserve-room-button" id="reserve-room-button">จองห้อง</button>
            
        </p>
    </div>

</body>
</html>