{% load static %}
<html>
    <head>
        <title>Register</title>

        {% include 'general_use/general-script.html' %}

        <script src="{% static 'js/js.js' %}"></script>
        <link rel='stylesheet' href="{% static 'css/login-register.css' %}">
    </head>
    <body>
        {% include 'general_use/header.html' %}
        <div class = "box" >
            <form id="register-form" action = "{% url 'register' %}" method="post">
                {%csrf_token %} 
                <div class = "register-container">
                    <h2 class="head">สมัครสมาชิก</h2>
                    <div>
                        <label for="firstname">ชื่อ</label>
                        <input class="input-field" id = "firstname" name = "firstname" type = "text" placeholder="ชื่อ" >
                        <div class="error-message"></div>
                    </div>
                    <div>
                        <label for="lastname">นามสกุล</label>
                        <input class="input-field" id = "lastname" name = "lastname" type = "text" placeholder="นามสกุล" >
                        <div class="error-message"></div>
                    </div>
                    <div>
                        <label for="birthday">วัน/เดือน/ปีเกิด</label>
                        <input class="input-field" id = "birthday" name = "birthday" type = "date" placeholder="วัน/เดือน/ปีเกิด">
                        <div class="error-message"></div>
                    </div>
                    <div>
                        <label for="tol">เบอร์โทร</label>
                        <input class="input-field" id = "tol" name = "tol" type = "text"  placeholder="เบอร์โทร" maxlength="10" >
                        <div class="error-message"></div>
                    </div>
                    <div>
                        <label for="id_number">รหัสบัตรประชาชน</label>
                        <input class="input-field" id = "id_number" name = "id_number" type = "text" placeholder="รหัสบัตรประชาชน"  maxlength="13" >
                        <div class="error-message"></div>
                    </div>
                    <div>
                        <label for="email">อีเมล</label>
                        <input class="input-field" id = "email" name = "email" type = "text" placeholder="อีเมล" >
                        <div class="error-message"></div>
                    </div>
                    <div>
                        <label for="register-password">รหัสผ่าน</label>
                        <input class="input-field password" id = "register-password" name = "password" type = "password" placeholder="รหัสผ่าน" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="15" >
                        <i class="bx bx-hide eye-icon "></i>
                        <div class="error-message"></div>
                    </div>
                    <div id="password-strength-status"></div>
                    <div>
                        <ul class="pswd_info" id="passwordCriterion">
                            <li data-criterion="length" class="invalid">8-15 <strong>Characters</strong></li>
                            <li data-criterion="capital" class="invalid">At least <strong>one capital letter</strong></li>
                            <li data-criterion="small" class="invalid">At least <strong>one small letter</strong></li>
                            <li data-criterion="number" class="invalid">At least <strong>one number</strong></li>
                            <li data-criterion="special" class="invalid">At least <strong>one Specail Characters </strong></li>
                        </ul>
                    </div>
                    <div>
                        <label for="password_confirm">ยืนยันรหัสผ่าน</label>
                        <input class="input-field" id = "password_confirm" name = "password_confirm" type = "text" placeholder="ยืนยันรหัสผ่าน" >
                        <!-- <p id='message'></p> -->
                        <div class="error-message"></div>
                    </div>
                    <input class='submit' id = "register-button" type="submit" value="ยันยืน">
                    <!-- <button class="submit" id = "register-button" type="submit">ยันยืน</button> -->
                </div>
            </form>
        </div>
        {% include 'general_use/footer.html' %}
    </body>
</html>
    