{% load static %}
<html>
    <head>
        <title>Reserve Hotel's Room</title>

        {% include 'general_use/general-script.html' %}

        <script src="{% static 'js/js.js' %}"></script>
        <link rel='stylesheet' href="{% static 'css/reserve.css' %}">
    </head>
    <body>
        {% include 'general_use/header.html' %}
        <div class="BG">
            <div class="gradient-bg"></div>
            <div class="gradient-bg item2"></div>
            <div class="gradient-bg item3"></div>
        </div>
        <div class='content-container'>
            <div class='head'>
                <h2 class="head">จองห้องพัก</h2>
            </div>

            <ul>
                <li>
                    <div class="item-box">
                        <form>
                            <div class="reserve-box">
                                <div class="img-container">
                                    <img src="{% static 'picture/double-bed.png' %}" class="hotel-img">
                                </div>
                                
                                <div class="detail-container">

                                    <h3 id="room-type" class="room-type big-font">เตียงคู่</h3>

                                    <fieldset class="line-detail">
                                        <div class="line-detail-left">
                                            <p class="text-detail">ความจุห้อง:</p>
                                            <p id="2bed-room-capacity-adult" class="text-detail">2</p>
                                            <i class="fa-solid fa-person fa-lg" style="color: #000000;"></i>
                                            <p id="2bed-room-capacity-child" class="text-detail">2</p>
                                            <i class="fa-solid fa-child-reaching"></i>
                                        </div>
                                        <div class="line-detail-right">
                                            <p id="2bed-price" class="text-detail val big-font">0000.00</p>
                                            <p class="text-detail val">บาท</p>
                                            <button class="text-detail room-detail-button" id="room-detail-button">?</button>
                                        </div>
                                    </fieldset>

                                    <fieldset class="line-detail">
                                        <div class="line-detail-left">
                                            <p class="text-detail">วันที่:</p>
                                            <p class="text-detail" id="2bed-checkin-dateDD">DD</p><p class="text-detail">/</p><p class="text-detail" id="2bed-checkin-dateMM">MM</p><p class="text-detail">/</p><p class="text-detail" id="2bed-checkin-dateYYYY">YYYY</p>
                                            <p class="text-detail">-</p>
                                            <p class="text-detail" id="2bed-checkout-dateDD">DD</p><p class="text-detail">/</p><p class="text-detail" id="2bed-checkout-dateMM">MM</p><p class="text-detail">/</p><p class="text-detail" id="2bed-checkout-dateYYYY">YYYY</p>
                                        </div>
                                        <div class="line-detail-right">
                                            <p class="text-detail">ราคาสำหรับ 1 คืน</p>
                                        </div>
                                    </fieldset>

                                    <fieldset class="line-detail">
                                        <div class="line-detail-left">
                                            <p class="text-detail">จำนวนห้อง:</p>
                                            <button class="text-detail room-number-button" id="2bed-number-minus">-</button>
                                            <p class="text-detail val" id="2bed-number-available">0</p>
                                            <button class="text-detail room-number-button" id="2bed-number-plus">+</button>
                                        </div>
                                        <div class="line-detail-right">
                                            <p class="text-detail" id="2bed-number-adult">0</p>
                                            <p class="text-detail">ผู้ใหญ่,</p>
                                            <p class="text-detail" id="2bed-number-child">0</p>
                                            <p class="text-detail">เด็ก</p>
                                            <p class="text-detail">ต่อ 1 ห้อง</p>
                                        </div>
                                    </fieldset>

                                    <hr>

                                    <fieldset class="line-detail">
                                        <div class="line-detail-left">
                                            <p class="text-detail">เหลือห้อง:</p>
                                            <p class="text-detail" id="number-available-room">0</p>
                                            <p class="text-detail">ห้อง</p>
                                        </div>
                                        <div class="line-detail-right">
                                            <button class="text-detail reserve-room-button" id="reserve-room-button">จองห้อง</button>
                                        </div>
                                    </fieldset>

                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <li>
                    <div class="item-box">
                        <form>
                            <div class="reserve-box">
                                <div class="img-container">
                                    <img src="{% static 'picture/single-bed.png' %}" class="hotel-img">
                                </div>
                                
                                <div class="detail-container">

                                    <h3 id="room-type" class="room-type big-font">เตียงเดี่ยว</h3>

                                    <fieldset class="line-detail">
                                        <div class="line-detail-left">
                                            <p class="text-detail">ความจุห้อง:</p>
                                            <p id="room-capacity-value-adult" class="text-detail">0</p>
                                            <i class="fa-solid fa-person fa-lg" style="color: #000000;"></i>
                                            <p id="room-capacity-value-child" class="text-detail">0</p>
                                            <i class="fa-solid fa-child-reaching"></i>
                                        </div>
                                        <div class="line-detail-right">
                                            <p class="text-detail val big-font">0000.00</p>
                                            <p class="text-detail val">บาท</p>
                                            <button class="text-detail room-detail-button" id="room-detail-button">?</button>
                                        </div>
                                    </fieldset>

                                    <fieldset class="line-detail">
                                        <div class="line-detail-left">
                                            <p class="text-detail">วันที่:</p>
                                            <p class="text-detail" id="date-DD">DD</p><p class="text-detail">/</p><p class="text-detail" id="date-MM">MM</p><p class="text-detail">/</p><p class="text-detail" id="date-YYYY">YYYY</p>
                                        </div>
                                        <div class="line-detail-right">
                                            <p class="text-detail">ราคาสำหรับ 1 คืน</p>
                                        </div>
                                    </fieldset>

                                    <fieldset class="line-detail">
                                        <div class="line-detail-left">
                                            <p class="text-detail">จำนวนห้อง:</p>
                                            <button class="text-detail room-number-button" id="room-number-minus">-</button>
                                            <p class="text-detail val">0</p>
                                            <button class="text-detail room-number-button" id="room-number-plus">+</button>
                                        </div>
                                        <div class="line-detail-right">
                                            <p class="text-detail" id="1bed-number-adult">0</p>
                                            <p class="text-detail">ผู้ใหญ่,</p>
                                            <p class="text-detail" id="1bed-number-child">0</p>
                                            <p class="text-detail">เด็ก</p>
                                            <p class="text-detail">ต่อ 1 ห้อง</p>
                                        </div>
                                    </fieldset>

                                    <hr>

                                    <fieldset class="line-detail">
                                        <div class="line-detail-left">
                                            <p class="text-detail">เหลือห้อง:</p>
                                            <p class="text-detail" id="number-available-room">0</p>
                                            <p class="text-detail">ห้อง</p>
                                        </div>
                                        <div class="line-detail-right">
                                            <button class="text-detail reserve-room-button" id="reserve-room-button">จองห้อง</button>
                                        </div>
                                    </fieldset>

                                </div>
                            </div>
                        </form>
                    </div>
                </li>

            </ul>
        </div>

        {% include 'general_use/footer.html' %} 
    </body>
</html>