body{
    overflow-x: visible;
    display: block;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}



header.header{ 
    background-color: white;
    padding: 5px;
    height: 90px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    & a{
        color: black;
        font-family: Kanit;
        display: block;
        text-decoration: none;
    }
    & li{
        margin: 10px;
    }
}

H1.header_logo {
    margin-top: 1em;
    color: #4FD2FC;
    font-family: Jomhuria;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav{
    background-color: white;
    padding: 5px;
    height: 7%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    & a{
        color: black;
        font-family: Kanit;
        display: block;
        text-decoration: none;
    }
    & li{
        display: flex;
        align-items: center;
        margin: 10px;
    }
    & .active{
        font-size: larger;
    }

    & .icon{
        margin: 5px;
        font-size: 18px;
    }
}

div.content_container {
    min-height: calc(100vh - (100px + 182px));
}

footer.footer{
    position: absolute;
    width: 100%;
    font-family: Kanit;
    padding-top: 2em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color:rgba(0,0,0,0.1);
    height: 150px;

    & a{
        text-decoration: none;
        text-align: center;
        padding: 10px;
        & #line{
            width: 38px;
            height: 36px;
        }
        & img{
            opacity: 0.5;
        }
    }   
    & div{
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0 10% 0 10%;
        display: block;
        align-items: center;
        width: fit-content;
        text-align: center;
        & h3{
            margin: 0;
        }
        & .icon{
            color:#4F4F4F;
            font-size: 40px;
        }

    }
}

.header .register
{
    width: 100%;
    height: 70%;
    padding: 10px;
    border: 1px solid rgb(111, 108, 108);
    border-radius: 5px;
}

.header .register:hover
{   
    scale: 1.07;
    border: 1px solid #c8e2eb;
    background-color: #c8e2eb;
}
.nav a:hover{
    scale: 1.05;
}