body{
    overflow-x: visible;
    display: block;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

header.header{ 
    background-color: white;
    padding: 5px;
    height: 90px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    & a{
        color: black;
        font-family: Kanit;
        display: block;
        text-decoration: none;
    }
    & li{
        margin: 10px;
    }
}

H1.header-logo {
    margin-top: 1em;
    color: #4FD2FC;
    font-family: Jomhuria;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav{
    background-color: white;
    padding: 5px;
    height: 7%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    & a{
        color: black;
        font-family: Kanit;
        display: block;
        text-decoration: none;
    }
    & li{
        margin: 10px;
    }
}
/*
.content{
    position: relative;
    text-align: center;
    max-width:90%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    justify-content: center;
} */

div.container {
    min-height: calc(100vh - (100px + 182px));
    /* padding-bottom: 182px; */
}

footer.footer{
    width: 100%;

    font-family: Kanit;
    padding-top: 2em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #9F9F9F;
    height: 150px;

    & a{
        text-decoration: none;
        text-align: center;
        padding: 10px;
        & #line{
            width: 38px;
            height: 36px;
        }
        & img{
            opacity: 0.5;
        }
    }   
    & div{
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0 10% 0 10%;
        display: block;
        align-items: center;
        width: fit-content;
        text-align: center;
        & h3{
            margin: 0;
        }
        & .icon{
            color:#4F4F4F;
            font-size: 40px;
        }

    }
}