body{
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    &.inline{
        margin:auto;
    }
}

.box {
    width: 100%;
    font-family: Kanit;
    /* font-family: Arial, sans-serif; */
   /*  background-color: #ECECEC; */
    margin: 0;
    padding: 0;
}
.hotelpage_container
{
    /*font zone*/
    color: #000;
    font-size: 18px;
    font-family: Kanit;

    /*ขนาดของ hotelpage_container*/
    width: 75%;
    height: 35%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.9);

}

.header_hotelpage
{
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    font-family: Kanit;
    /* color: white; */
}

.text_flexline {
    display: flex;
}

input.check
{
    width: 100%;
    height: 45px;
    display: block;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    background: #FFF;
    text-align: center;
    font-size: large;   
}

input.check[type="date"] {
    position: relative;
  }
  
input.check[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
}

label.checkin
{
    /*ทำให้ block ทั้งหมดชิดซ้าย*/
    float: left;
    font-weight: 200;
    line-height: normal;
    width: 50%;
    margin-right: 20px;
}


label.checkout
{
    /*ทำให้ block ทั้งหมดชิดขวา*/
    float:right;
    width: 50%;
    margin-left: 20px;
}

button.search_room
{
    width: 300px;
    height: 60px;
    color: white;
    width: 20%;
    font-size: 25px;
    background: #4FD2FC; 
    border-radius: 10px;
    border: 1px solid transparent;
    display: block;
    margin: auto;
    position: relative;
    font-family: Kanit;
    font-size: large;
    top: 50px;
    &:hover{
        background-color: #09c372;
        filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.15));
        font-size: 120%;
    }
}

input {
    text-align: center;
}

input.guest {
    border: none;
    text-align: right; 
}
.guest:focus{
    outline: none;
}

label.guest
{
    font-weight: 400;
    line-height: normal;
    display: block;
    margin-top: 40px;
}

div.guest
{
    justify-content: center;
    width: auto;
    height: 1.5em;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    background: #FFF;
    padding: 10px;
    text-align: center;
}
div.right{
    padding-right: 10;
    border-right:2px solid rgba(0, 0, 0, 0.19);
}
div.left{
    padding: 10px;
}
p.text_inline {
    margin:auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    display: inline;
}
.step_inline{
    display: inline;
}
.dropdown .container
{
    padding: 10px 15px;
}

.dropdown .down-menu
{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.8);
}

/* กล่องที่เก็บ input ของผู้ใหญ่ กับ เด็กเอาไว้ */
.dropdown:hover .down-menu
{
    display: block;
}

/* กล่องของ class container ที่ใช้สำหรับ hover */
.dropdown .container:hover
{
    background-color: #F6F6F6;
}

span.button
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    padding: 0px 10px;
    background-color: #ffff;    
    border: none;
    border-radius: 5px;
    border: 1px solid #A8A8A8;
    background: #FEFEFE;
    cursor: pointer;
}

button.increment
{
    background-color: #ffff;
    border: none;
    border-radius: 5px;
    border: 1px solid #A8A8A8;
    background: #FEFEFE;
    cursor: pointer;
}

/* background */

@keyframes rotate {
    0% {
         transform:  translateX(-10vw); 
    }
    100% {
        transform:  translateX(100vw); 
    }
  }
  @keyframes rotate2 {
    0% {
        transform:  translateX(100vw);
    }
    100% {
        transform:  translateX(-10vw);
    }
  }
.BG{

    z-index: -100;
    overflow: hidden;
}

.gradient_bg {
    z-index: -100;
    position: absolute;
    --size: 250px;
    --speed: 10s;
    --easing: cubic-bezier(0.5, 0.2, 0.2, 0.5);
    text-align: center;
    width: var(--size);
    height: var(--size);
    filter: blur(50px);
    -webkit-filter: blur(50px);
    background: linear-gradient(#ce64e6, #9198e5);
   /*  background: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57)); */
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 50% ;
    opacity: 50%;
  }
.item2{
    background: linear-gradient(#46f6ff, #91e597);
    animation: rotate2 var(--speed) var(--easing) alternate infinite;
}
  
  @media (min-width: 100vw) {
    .gradient_bg {
      --size: 250px;
    }
  }
  
/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.25s ease-in-out;
  }