/* login */
body{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
}
/*hide scrollbar */
html::-webkit-scrollbar {
    display: none;
  }

body.login{
    overflow: hidden;
}
body.register{
    overflow-x: hidden;
}
body.change_password{
    overflow-x: hidden;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin:auto;
}
.submit{
    cursor: pointer;
}

.box {
    font-family: Kanit; 
}

.login-container {
    min-width: 400px;
    min-height: 300px;
    margin: 50px auto;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    & .icon{
        min-width: 40px;
    }
    & h2{
        margin: 20px auto;
        text-align: center;
    }
    & p{
        margin: 5px;
    }
    & .submit {
        margin: 35px auto 0 auto;
        display: block;
        min-width: 173px;
        min-height: 39px;
        color: white;
        width: 20%;
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 7px;
        background-color:#4FD2FC;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        font-family: Kanit;
        font-size: large;
    }
    & .submit:hover{
        background-color: #09c372;
        filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.15));
        font-size: 102%;
    }
    &  i{
        padding: 7.5px;
        position: absolute;
    }
    .input-field {
        outline: none;
        font-family: Kanit;
        text-align: center;
        padding: 5px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        &::placeholder {
            transition: color 0.3s ease; 
        }
        &:focus::placeholder {
            color: transparent;
        }
        &:focus {
            border: 1px solid black;
        }
    }
}
.eye-icon{
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    color: #8b8b8b;
}



/* registerhtml */

.register-container {
    position: relative;
    width: 574px;
    /* height: fit-content; */
    margin: 50px auto;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    & .icon{
        min-width: 40px;
    }
    & h2{
        margin: 20px auto;
        text-align: center;
    }
    & .submit {
        margin: 35px auto 0 auto;
        display: block;
        min-width: 173px;
        min-height: 39px;
        color: white;
        width: 20%;
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 7px;
        background-color:#4FD2FC;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        font-family: Kanit;
        font-size: large;

        &:hover{
            background-color: #09c372;
            filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.15));
            font-size: 102%;
        }

    }
    &  i{
        padding: 5px;
        position: absolute;
    }
    .input-field {
        outline: none;
        padding: 5px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        &::placeholder {
            transition: color 0.3s ease; 
        }
        &:focus::placeholder {
            color: transparent;
        }
        &:focus {
            border: 1px solid black;
        }
    }
}

/* change_password_html */
.change-password-container {    
    position: relative;
    width: 574px;
    /* height: fit-content; */
    margin: 50px auto;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    & .icon{
        min-width: 40px;
    }
    & h2{
        margin: 20px auto;
        text-align: center;
    }
    & .submit {
        margin: 35px auto 0 auto;
        display: block;
        min-width: 173px;
        min-height: 39px;
        color: white;
        width: 20%;
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 7px;
        background-color:#4FD2FC;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        font-family: Kanit;
        font-size: large;

        &:hover{
            background-color: #09c372;
            filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.15));
            font-size: 102%;
        }

    }
    &  i{
        padding: 5px;
        position: absolute;
    }
    .input-field {
        padding: 5px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
}

.pass .input-field{
    border-color: #09c372;
}
.error .input-field{
    border-color: #ff3860;
}
.error-message{
    font-size: smaller;
    color: #ff3860;
}


/* input {
    display: block;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */




/* password */
.pswd_info {
	list-style: none;
	margin: 5px 0px;
	padding: 0;
}
.pswd_info .invalid {
	padding-left: 20px;
	background:url(img/invalid.png) no-repeat 0 50%;
	color:#ec3f41;
}
.pswd_info .valid {
	padding-left: 20px;
	background:url(img/valid.png) no-repeat 0 50%;   
	color:#3a7d34;
}
#password-strength-status {
    color: white;
	font-size:small;
	padding: 5px 10px;
	border-radius: 4px;
	margin-top: 5px;
}
.veryweak-password {
	background-color: #FF0000;
}
.weak-password {
	background-color: #d35400;
}
.medium-password {
	background-color: #f39c12;
}
.average-password {
	background-color: #f1c40f;	
}
.strong-password {
	background-color: #229954;
}
/* password */

/* background */

@keyframes rotate {
    0% {
        transform: translateX(0) rotate(0deg);
        /* transform: rotate(0deg) translateX(0vw); */
    }
    100% {
        transform: translateX(80vw) rotate(20deg);
        /* transform: rotate(20deg) translateX(80vw); */
    }
  }
  @keyframes rotate2 {
    0% {
        transform: translateX(80vw) rotate(20deg);
        /* transform: rotate(20deg) translateX(80vw); */
    }
    100% {
        transform: translateX(0) rotate(0deg);
        /* transform: rotate(0deg) translateX(0vw); */
    }
  }
.BG{
    top: 0;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}
.gradient-bg {
    --size: 500px;
    --speed: 10s;
    --easing: cubic-bezier(0.5, 0.2, 0.2, 0.5);
    text-align: center;
    width: var(--size);
    height: var(--size);
    filter: blur(50px);
    -webkit-filter: blur(50px);
    background: linear-gradient(#e66465, #9198e5);
   /*  background: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57)); */
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 50% ;
    opacity: 50%;
  }
.item2{
    background: linear-gradient(#46f6ff, #91e597);
    animation: rotate2 var(--speed) var(--easing) alternate infinite;
}
  
  @media (min-width: 720px) {
    .gradient-bg {
      --size: 500px;
    }
  }
  
/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.25s ease-in-out;
  }

.message-auth{
    color: rgba(255, 0, 0,0.8);
    font-size: smaller;
    margin-top: -2%;
    padding: 10px;
    width: fit-content;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    transition: all 0.25s ease-in-out;
    animation: shine 2.5s alternate infinite 0.5s, show 0.2s linear;
    
}

@keyframes shine {
    0% {
        box-shadow: rgba(255,0,0, 0) 0px 0px 10px , rgba(255,0,0, 0) 0px 0px 10px, rgba(255,0,0, 0) 0px 0px 10px, rgba(255,0,0, 0) 0px 0px 10px ;
    }
    100% {
        box-shadow: rgba(255,0,0, .35) 0px 0px 10px , rgba(255,0,0, .25) 0px 0px 10px, rgba(255,0,0, .25) 0px 0px 10px, rgba(255,0,0, .25) 0px 0px 10px ;
    }
}
@keyframes show{
    0%{
        transform: translateY(-5px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

.inherited-styles-for-exported-element {
    font-family: CerebriSans-Regular, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    font-size: 100%;
  }
  