body{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    align-items: center;
    font-family: kanit;
    background-color: #ECECEC;
}

.content{
    margin: auto;
    display: block;
    width: 90vw;
    height: fit-content;
}

div.head{
    display: flex;
    justify-content: space-between;
    & span{
        width: 120%;
        text-align: center;
    }
}

.status-box{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    height:62px;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
    & span{
        width: 100%;
        /* width: 179.663px; */
        text-align: center;
    }
    & .button{
        display: flex;
        justify-content: space-around;
        position: relative;
        right: 0;
        & button{
            cursor: pointer;
            font-family: kanit;
            font-size: medium;
            width: 78px;
            height: 42px;
            color: #fff;
            border: 0px;
            border-radius: 10px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            &.confirm{
                background-color: #4FD2FC;
            }
            &.cancle{
                background-color: #FF1A1A;
            }
            &:hover{
                filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.15));
                font-size: large;
            }
        }
    }
}

.reserve-room-button {
    margin: 35px auto 0 auto;
    margin-left: 30px;
    display: block;
    min-width: 173px;
    min-height: 39px;
    color: white;
    width: 20%;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 7px;
    background-color:#4FD2FC;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-family: Kanit;
    font-size: large;
    &:hover{
        background-color: #09c372;
        filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.15));
        font-size: 102%;
    }
}

.sum_price
{
    background-color: rgba(255, 255, 255,0.4);  
    border-top: 1px solid white; 
    width: 100%;
    display: flex;
    right: 0;
    bottom: 0;
    align-items: baseline;
    position: absolute;

}

.text-price
{
    color: #8C8C8C;
    font-family: kanit;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.text-sum
{
    color: #000;
    font-family: kanit;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 70%; 
}
/* .status{
    &.waiting{
      color: #FF1A1A; 
    
    }
    &.complete{
      color: #91e597;
  
    }
  } */

.no_curreserve {
    text-align: center;
}


/* background */

@keyframes rotate {
    0% {
        transform: translateX(0) rotate(0deg);
        /* transform: rotate(0deg) translateX(0vw); */
    }
    100% {
        transform: translateX(80vw) rotate(20deg);
        /* transform: rotate(20deg) translateX(80vw); */
    }
  }
  @keyframes rotate2 {
    0% {
        transform: translateX(80vw) rotate(20deg);
        /* transform: rotate(20deg) translateX(80vw); */
    }
    100% {
        transform: translateX(0) rotate(0deg);
        /* transform: rotate(0deg) translateX(0vw); */
    }
  }
.BG{
    top: 0;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}
.gradient-bg {
    --size: 500px;
    --speed: 10s;
    --easing: cubic-bezier(0.5, 0.2, 0.2, 0.5);
    text-align: center;
    width: var(--size);
    height: var(--size);
    filter: blur(50px);
    -webkit-filter: blur(50px);
    background: linear-gradient(#e66465, #9198e5);
   /*  background: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57)); */
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 50% ;
    opacity: 50%;
  }
.item2{
    background: linear-gradient(#46f6ff, #91e597);
    animation: rotate2 var(--speed) var(--easing) alternate infinite;
}
  
  @media (min-width: 720px) {
    .gradient-bg {
      --size: 500px;
    }
  }
  
/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.25s ease-in-out;
  }

  .unpaid{
    color: red;
  }
  .paid{
    color: #09c372;
  }

  .no_curreserve {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    font-size: 60px;
    color: rgba(255, 255, 255, 0.8);
    animation: space 3s infinite alternate;
    }

@keyframes space {
    0% {
        letter-spacing: 0px;
    }
    100% {
        letter-spacing: 2px;
    }
}
