body{
    font-family: Kanit; 
    background-color: #ECECEC;
    position: relative;
}
div.head {
    height: 132px;
    padding: 1px;
    text-align: center;
    align-content: center;
    display: grid;
    background: url(img/reserve-header.png), lightgray 50% / cover no-repeat;
}

h2.head {
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-family: Kanit;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0 0 3px #000000, 0 0 5px #111212; 
}

ul {
    list-style-type: none;
}

div.reserve-box {
    display: flex;
    margin: 10px;
    margin-right: 40px;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


div.img-container {
    align-self: center;
    text-align: center;
}

img.hotel-img {
    width: 80%;
    height: 65%;
    max-width: 381px;
    max-height: 253px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

div.detail-container {
    width: 67.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    margin-bottom: 90px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset.line-detail {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

div.line-detail-left {
    float: left;
}

div.line-detail-right {
    float: right;
}

.text-detail {
    display: inline-block;
    margin-top: 0;
}

.text-sub-detail-1 {
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px; 

}

.text-sub-detail-2 {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px; 
    margin-right: 20px; 

}

.sub-detail-1
{
    display: flex;
    margin-top: 1px;
    margin-left: 50px;
    margin-right: 20px;
}

.sub-detail-2
{
    display: flex;
    margin-left: 50px;
    margin-right: 20px;
}

.sub-detail-1 .bed-img
{   
    width: 30px;
    height: 25px;
}

.sub-detail-2 .area-img
{
    width: 40px;
    height: 45px;
    margin-right: 5px;
}

div.summary-box {
    padding: 10px;
    display: block;
    height: fit-content;
    margin: 10px;
    margin-right: 40px;
    border-radius: 5px;
    background-color:rgba(249, 249, 249, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button.room-detail-button {
    border-radius: 20px;
    cursor: pointer;
}

button.room-number-button {
    border-radius: 5px;
    border: 1px solid #A8A8A8;
    background: #FEFEFE;
    cursor: pointer;
}

.reserve-room-button {
    margin: 35px auto 0 auto;
    display: block;
    min-width: 173px;
    min-height: 39px;
    color: white;
    width: 20%;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 7px;
    background-color:#4FD2FC;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-family: Kanit;
    font-size: large;
    &:hover{
        background-color: #09c372;
        filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.15));
        font-size: 102%;
    }
}


p {
    color: #5F5F5F;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.val {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.big-font {
    font-size: 28px;
    margin-top: 1px;
    margin-bottom: 16px;
}

div.hide {
    display: none;
}

.head-container
{
    color: #000;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    text-align: center;
}

div.summary-container {
    margin: 2.5%;
    display: block;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content-flex{
    height: 15%;
    display: flex;
    justify-content: space-around;
}

.summary-table td
{
    text-align: center;
    padding: 10px 35px;
}

.summary-table
{
    float: left;
    border-bottom: 1px solid #AEB6BF;
    margin-bottom: 30px;
}

.line-summary
{   
    margin-left: 3%;
    text-align: center;
    width: 20%;
    height: 20%;
}

.total
{
    text-align: center;
}

/* background */

@keyframes rotate {
    0% {
        transform: translateX(0) rotate(0deg);
        /* transform: rotate(0deg) translateX(0vw); */
    }
    100% {
        transform: translateX(80vw) rotate(20deg);
        /* transform: rotate(20deg) translateX(80vw); */
    }
  }
  @keyframes rotate2 {
    0% {
        transform: translateX(80vw) rotate(20deg);
        /* transform: rotate(20deg) translateX(80vw); */
    }
    100% {
        transform: translateX(0) rotate(0deg);
        /* transform: rotate(0deg) translateX(0vw); */
    }
  }
.BG{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}
.gradient-bg {
    --size: 250x;
    --speed: 10s;
    --easing: cubic-bezier(0.5, 0.2, 0.2, 0.5);
    text-align: center;
    width: var(--size);
    height: var(--size);
    filter: blur(50px);
    -webkit-filter: blur(50px);
    background: linear-gradient(#64bbe6, #9198e5);
   /*  background: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57)); */
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 50% ;
    opacity: 50%;
  }
.item2{
    background: linear-gradient(#46f6ff, #91e5b4);
    animation: rotate2 10s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
}
.item3{
    background: linear-gradient(rgb(233, 70, 255), #e591c5);
    animation: rotate2 20s cubic-bezier(0.5, 0.5, 0.2, 0.8) alternate infinite;
}
  
  @media (min-width: 720px) {
    .gradient-bg {
      --size: 250px;
    }
  }
  
/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.25s ease-in-out;
  }




.step{
    display: inline;
    align-items: center;
    width: fit-content;
}
  span.button

{   
    font-size: small;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    padding: 0px 6px;
    background-color: #ffff;    
    border-radius: 5px;
    border: 1px solid #A8A8A8;
    background: #FEFEFE;
    cursor: pointer;
}
.guest{
    display: inline;
    color: #000;
    font-family: Kanit; 
    font-size: medium;
    width: 20px;
    padding: 0px;
    background-color: transparent;
    border: none;
    text-align: center; 
    &:focus{
        outline: none;
    }
}