{% load static %}
<header class="header">  
    <H1 class="header-logo">Hotel</H1>
    <ul class="nav">

         {% if user.is_authenticated %}
         <li>
            <a href="{% url 'employee_room_status' %}">สถานะการจอง</a>
        </li>
        <li>
            <a href="{% url 'employee_reserve' %}">การจอง</a>
        </li>
         <li><a href="{% url 'em_logout' %}">ออกจากระบบ</a></li>

         {% else %}
             <li><a href="{% url 'em_login' %}">เข้าสู่ระบบ</a></li>
             <li><a class="register" href="{% url 'employee_register' %}">ลงทะเบียน</a></li>
         {% endif %}

       <!--  <li>
            <i class='bx bxs-user icon'></i>
            <a href="#">User</a>
        </li> -->
    </ul>
</header>

<script>
    setNavigation();

    function setNavigation() {
    var path = window.location.pathname;
    path = path.replace(/\/$/, "");
    path = decodeURIComponent(path);

    $(".nav a").each(function () {
        var href = $(this).attr('href');
        if (path.substring(1, href.length+1) === href) {
            $(this).closest('li').addClass('active');
        }
    });
}
</script>