<footer class='footer-page'>
    <div>
        <li><p>ช่องทางติดต่อ</p></li>
        <li><p>เบอโทรติดต่อ: 000-000-0000</p></li>
        <li><p>อีเมล: Hotel@hotel.com</p></li>
    </div>
    <div>
        <li><p>ช่องทางติดต่อออนไลน์</p></li>
        <li>
            <a href="www.facebook.com">
                <img id="facebook" src="static/picture/facebooklogo.png"></img>
            </a>
            <a href="www.facebook.com">
                <img id="ig" src="static/picture/instagramlogo.png"></img>
            </a>
            <a href="www.facebook.com">
                <img id="line" src="static/picture/linelogo.png"></img>
            </a>
        </li>
    </div>
</footer>