{% load static %}
<footer class="footer">
    <div>
        <h3>ช่องทางติดต่อ</h3>
        <p>
            <span>
                เบอร์โทรติดต่อ: 000-000-0000</span>
        </p>
        <p>
            <span>อีเมล: Hotel@hotel.com</span>
        </p>
    </div>
    <div>
        <h3>ช่องทางติดต่อออนไลน์</h3>
        <p>
            <span>
                <a href="https://www.facebook.com/profile.php?id=100009468641079&mibextid=LQQJ4d"><i
                        class='bx bxl-facebook icon'></i></a>
                <a href="https://instagram.com/__mild__a_a?igshid=YzAwZjE1ZTI0Zg%3D%3D&utm_source=qr"><i
                        class='bx bxl-instagram icon'></i></a>
                <a href="https://line.me/ti/p/fDrXAbS-EE"><img id="line"
                        src="{% static 'picture/linelogo.png' %}"></img></a>
            </span>
        </p>
    </div>
</footer>