<footer>
    <div class='footer'>
        <div>
            <h3>ช่องทางติดต่อ</h3>
            <p>
                <span>
                เบอโทรติดต่อ: 000-000-0000</span>
            </p>
            <p>
                <span>อีเมล: Hotel@hotel.com</span>
            </p>
        </div>
        <div>
            <h3>ช่องทางติดต่อออนไลน์</h3>
            <p>
                <span>
                <a href="http://www.facebook.com"><i class='bx bxl-facebook icon'></i></a>
                <a href="http://www.facebook.com"><i class='bx bxl-instagram icon' ></i></a>
                <a href="http://www.facebook.com"><img id="line" src="static/picture/linelogo.png"></img></a>
                </span>
            </p>
        </div>
    </div>
</footer>