{% load static %}
<!-- Import css ,javascript พื้นฐาน ที่ใช้ในทุกๆ html -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery_ui.min.js' %}"></script>
<script src="https://kit.fontawesome.com/53bed9be69.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/jquery_ui.min.css' %}" />
<!-- font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jomhuria" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit" />
<!-- icon -->
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

<link rel="stylesheet" href="{% static 'css/header_footer.css' %}" />
<script src="{% static 'js/header.js' %}"></script>