{% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Jomhuria">
<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Kanit">
<!-- icon -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<link rel='stylesheet' href="{% static 'css/header-footer.css' %}">