{% load static %}
<header class="header">
    <a href="home" class="header_logo">
        <h1 class="header_logo">Hotel</h1>
    </a>
    <ul class="nav">
        <li><a href="home">หน้าหลัก</a></li>
        {% if user.is_authenticated %}
        <li><a href="my_reserve">การจองของฉัน</a></li>
        <li><a href="logout">ออกจากระบบ</a></li>
        {% else %}
        <li><a href="login">เข้าสู่ระบบ</a></li>
        <li><a class="register" href="register">ลงทะเบียน</a></li>
        {% endif %}
    </ul>
</header>