<header class="header">  
    <a href="home" class="header-logo">
        <H1 class="header-logo">Hotel</H1>
    </a>
    <ul class="nav">
        <li><a href="home">หน้าหลัก</a></li>
        {% if user.is_authenticated %}
        <!--<li><a href="change_password">เปลี่ยนรหัสผ่าน</a></li>-->
            <li><a href="my-reserve">การจองของฉัน</a></li>
            <li><a href="logout">ออกจากระบบ</a></li>
        {% else %}
            <li><a href="login">เข้าสู่ระบบ</a></li>
            <li><a class="register" href="register">ลงทะเบียน</a></li>
        {% endif %}
    </ul>
</header>


<script>
    setNavigation();

    function setNavigation() {
    var path = window.location.pathname;
    path = path.replace(/\/$/, "");
    path = decodeURIComponent(path);

    $(".nav a").each(function () {
        var href = $(this).attr('href');
        if (path.substring(1, href.length+1) === href) {
            $(this).closest('li').addClass('active');
        }
    });
}
</script>